Repository DarkPacks/SevTech-Ages, pull requests merged in 2018-06, with the labels that each got.

#2768 feat: add redstone alloy and modularium recipes to arc furn #2437
  src/config/mputils/changelog.txt
  src/scripts/mod_integrations/immersive_engineering.zs
Labels: Category: Recipe, Priority: Medium, Status: Review Needed, Type: Enhancement

#2797 Added Ferdiand's Flowers glass blocks to sealable
  src/config/Galacticraft/core.conf
Labels: Category: Config, Status: Review Needed, Type: Enhancement

#2804 Fixed "Broken" tooltip from displaying on the Cyclic swords
  src/config/mputils/changelog.txt
  src/config/pickletweaks.cfg
Labels: Category: Config, Status: Review Needed, Type: Bug
