Repository DarkPacks/SevTech-Ages, pull requests merged in 2019-05, with the labels that each got.

#3728 fix: stage workbench container
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/staging/containers.zs
Labels: Category: Staging

#3670 Bunch of changes related to Sawing things
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/classes/mods/mekanism.zs
  src/scripts/crafttweaker/integrations/mods/betterwithmods.zs
  src/scripts/crafttweaker/integrations/mods/horsepower.zs
  src/scripts/crafttweaker/integrations/mods/mekanism.zs
  src/scripts/crafttweaker/integrations/wood.zs
  src/scripts/crafttweaker/recipes/remove.zs
Labels: Category: Recipe

#3702 fix: replace recipes using Rose Red with equivalent using Red Dye Powder
  src/config/cyclicmagic.cfg
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/integrations/mods/betterwithmods.zs
  src/scripts/crafttweaker/integrations/mods/cyclicmagic.zs
  src/scripts/crafttweaker/postInit.zs
  src/scripts/crafttweaker/recipes/mods/galacticraft.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/cyclicmagic.zs
  src/scripts/crafttweaker/staging/liquidAndGas.zs
Labels: Category: Recipe

#3679 refactor: remove BWM Fertilizer recipes and hide broken Key recipe
  src/config/carryon.cfg
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/integrations/mods/betterwithmods.zs
  src/scripts/crafttweaker/itemModifiers/tooltips.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/car.zs
Labels: Status: Review Needed

#3677 refactor: Tier 8 Heavy Duty Plates follow pattern set by previous tiers
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/integrations/mods/galacticcraftAndExtraplanets.zs
  src/scripts/crafttweaker/integrations/mods/modularMachinery/hydraulicPress.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/extraplanets.zs
Labels: Category: Recipe, Status: Review Needed

#3707 chore: mod updates
  src/config/Building Gadgets.cfg
  src/config/ExtraPlanets.cfg
  src/config/Mercurius.cfg
  src/config/TComplementModules.cfg
  src/config/abyssalcraft.cfg
  src/config/actuallyadditions.cfg
  src/config/antiqueatlas/biome_textures.json
  src/config/astralsorcery.cfg
  src/config/betterwithaddons.cfg
  src/config/chiselsandbits.cfg
  src/config/commoncapabilities.cfg
  src/config/compactmachines3/settings.cfg
  src/config/cyclicmagic.cfg
  src/config/fastbench.cfg
  src/config/fastfurnace.cfg
  src/config/geolosys.cfg
  src/config/geolosys_ores.json
  src/config/immcraft.cfg
  src/config/industrialforegoing.cfg
  src/config/itemstages.cfg
  src/config/mcjtylib.cfg
  src/config/mekanism.cfg
  src/config/mputils/changelog.txt
  src/config/mysticalagriculture.cfg
  src/config/oreexcavation.cfg
  src/config/pneumaticcraft.cfg
  src/config/pneumaticcraft/BlockHeatProperties.cfg
  src/config/pneumaticcraft/HelmetWidgetDefaults.cfg
  src/config/pneumaticcraft/MicromissileDefaults.cfg
  src/config/pneumaticcraft/thirdparty.cfg
  src/config/quark.cfg
  src/config/reccomplex.cfg
  src/config/rftools/rftools.cfg
  src/config/sevtweaks.cfg
  src/config/spartanshields.cfg
  src/config/stevescarts.cfg
  src/config/storagenetwork.cfg
  src/config/tcomplement.cfg
  src/config/tconstruct.cfg
  src/config/tombstone.cfg
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/betterbuilderswands.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/buildinggadgets.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/ceramics.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/conarm.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/industrialforegoing.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/mekanism.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/pneumaticcraft.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/quark.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/rftools.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/spartanshields.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/tcomplement.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/tconstruct.zs
  src/scripts/crafttweaker/staging/itemsAndRecipes/mods/tombstone.zs
Labels: Category: Mod, Type: Maintenance

#3735 feat: Fix overly large/location specific recipes
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/recipes/mods/actuallyadditions.zs
  src/scripts/crafttweaker/recipes/mods/antiqueatlas.zs
  src/scripts/crafttweaker/recipes/mods/astikorCarts.zs
  src/scripts/crafttweaker/recipes/mods/betterwithaddons.zs
  src/scripts/crafttweaker/recipes/mods/betterwithmods.zs
  src/scripts/crafttweaker/recipes/mods/buildcraft.zs
  src/scripts/crafttweaker/recipes/mods/car.zs
  src/scripts/crafttweaker/recipes/mods/cookingforblockheads.zs
  src/scripts/crafttweaker/recipes/mods/dungpipe.zs
  src/scripts/crafttweaker/recipes/mods/extendedcrafting.zs
  src/scripts/crafttweaker/recipes/mods/immersiveengineering.zs
  src/scripts/crafttweaker/recipes/mods/infoaccessories.zs
  src/scripts/crafttweaker/recipes/mods/minecraft.zs
  src/scripts/crafttweaker/recipes/mods/modularrouters.zs
  src/scripts/crafttweaker/recipes/mods/natura.zs
  src/scripts/crafttweaker/recipes/mods/overloaded.zs
  src/scripts/crafttweaker/recipes/mods/pickletweaks.zs
  src/scripts/crafttweaker/recipes/mods/primaltech.zs
  src/scripts/crafttweaker/recipes/mods/quark.zs
  src/scripts/crafttweaker/recipes/mods/stevescarts.zs
  src/scripts/crafttweaker/recipes/mods/storagenetwork.zs
  src/scripts/crafttweaker/recipes/mods/totemic.zs
  src/scripts/crafttweaker/recipes/mods/twilightforest.zs
  src/scripts/crafttweaker/recipes/mods/vc.zs
  src/scripts/crafttweaker/recipes/mods/waterstrainer.zs
Labels: Status: Review Needed, Type: Enhancement
