Repository DarkPacks/SevTech-Ages, pull requests merged in 2020-05, with the labels that each got.

#3885 UltimateCarMod accepted fuel fix
  src/config/car/car.json
  src/config/car/fuel_station.json
  src/config/car/generator.json
Labels: Category: Config, Type: Bug

#4071 Fixed IE Excavator Cinnabar integration.
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/integrations/mods/immersive/engineering/excavator.zs
Labels: Status: Review Needed, Type: Bug

#3917 Add ability for Apple Trees to grow in bonsai pots
  src/config/bonsaitrees/shapes.d/rustic_appletree001.json
  src/config/bonsaitrees/shapes.d/rustic_appletree002.json
  src/config/bonsaitrees/shapes.d/rustic_appletree003.json
  src/config/bonsaitrees/types.d/apple_tree.json
  src/config/mputils/changelog.txt
Labels: Category: Config, Type: Enhancement

#4026 Add ground meat & meatball creation with Modular Machinery
  src/config/mputils/changelog.txt
  src/scripts/crafttweaker/integrations/mods/modularMachinery/autoCauldron.zs
  src/scripts/crafttweaker/integrations/mods/modularMachinery/industrialMill.zs
Labels: Category: Recipe, Type: Enhancement
